In [93]:
import pandas as pd
import numpy as np

In [94]:
dataset_dir = "Datasets/houseprices_ready.csv"
df = pd.read_csv(dataset_dir, index_col=None)

In [95]:
df = pd.read_csv(dataset_dir, index_col=0)
df = df.fillna(df.mean())
df.head(15)

,AboveMedianPrice,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea
0,1,8450,7,5,856,2,1,3,8,0,548
1,1,9600,6,8,1262,2,0,3,6,1,460
2,1,11250,7,5,920,2,1,3,6,1,608
3,0,9550,7,5,756,1,0,3,7,1,642
4,1,14260,8,5,1145,2,1,4,9,1,836
5,0,14115,5,5,796,1,1,1,5,0,480
6,1,10084,8,5,1686,2,0,3,7,1,636
7,1,10382,7,6,1107,2,1,3,7,2,484
8,0,6120,7,5,952,2,0,2,8,2,468
9,0,7420,5,6,991,1,0,2,5,2,205
10,0,11200,5,5,1040,1,0,3,5,0,384
11,1,11924,9,5,1175,3,0,4,11,2,736
12,0,12968,5,6,912,1,0,2,4,0,352
13,1,10652,7,5,1494,2,0,3,7,1,840
14,0,10920,6,5,1253,1,1,2,5,1,352

In [96]:
df = df.iloc[:15,:]
df_label = df.iloc[:,0]
df_left = df.iloc[:,1:5]
df_right = df.iloc[:,5:]

In [97]:
df = transform_dataset(df)
df_label = df_label.sample(frac=1, random_state=41)
df_left = transform_dataset(df_left)
df_right = transform_dataset(df_right)

In [98]:
df_mixed = pd.concat([df_label, df_left, df_right], axis=1)
df_mixed

,AboveMedianPrice,0,1,2,3,group_0,group_1,0,1,2,3,4,5,group_0,group_1
7,1,6,1107,10382,7,0,1,7,3,2,2,484,1,0,1
8,0,5,952,6120,7,0,1,8,2,2,2,468,0,0,1
6,1,5,8,1686,10084,1,0,2,7,3,0,1,636,1,0
10,0,5,1040,11200,5,0,1,5,3,1,0,384,0,0,1
4,1,5,8,1145,14260,1,0,2,9,4,1,1,836,1,0
11,1,5,1175,11924,9,0,1,11,4,3,2,736,0,0,1
5,0,5,5,796,14115,1,0,1,5,1,1,0,480,1,0
9,0,6,991,7420,5,0,1,5,2,1,2,205,0,0,1
13,1,5,1494,10652,7,0,1,7,3,2,1,840,0,0,1
1,1,8,6,1262,9600,1,0,2,6,3,0,1,460,1,0
14,0,5,1253,10920,6,0,1,5,2,1,1,352,1,0,1
2,1,5,7,920,11250,1,0,2,6,3,1,1,608,1,0
12,0,6,912,12968,5,0,1,4,2,1,0,352,0,0,1
3,0,5,7,756,9550,1,0,1,7,3,0,1,642,1,0
0,1,5,7,856,8450,1,0,2,8,3,1,0,548,1,0

In [99]:
df

    0     1     2      3  4  5  6    7      8   9  10  group_0  group_1
7   2     7  1107  10382  3  1  1  484      2   7   6        0        1
8   2     7   952   6120  2  0  0  468      2   8   5        0        1
6   7  1686   636      3  1  0  8    1  10084   5   2        1        0
10  0     5  1040  11200  3  0  0  384      1   5   5        0        1
4   9  1145   836      4  1  1  8    1  14260   5   2        1        0
11  2     9  1175  11924  4  1  0  736      3  11   5        0        1
5   5   796   480      1  0  1  5    0  14115   5   1        1        0
9   2     5   991   7420  2  0  0  205      1   5   6        0        1
13  1     7  1494  10652  3  1  0  840      2   7   5        0        1
1   6  1262   460      3  1  0  6    1   9600   8   2        1        0
14  1     6  1253  10920  2  0  1  352      1   5   5        0        1
2   6   920   608      3  1  1  7    1  11250   5   2        1        0
12  0     5   912  12968  2  0  0  352      1   4   6        0        1
3   7   756   642      3  0  0  7    1   9550   5   1        1        0
0   8   856   548      3  1  1  7    0   8450   5   2        1        0

In [92]:
def transform_dataset(df,company_number=2, random_seed=41):
    group_num = company_number
    col_num = len(df.columns)
    row_num = len(df.index)
    dfs = [None]*group_num
    dfs_features = [None]*group_num
    dfs_scaleds = [None]*group_num
    dfs_new = [None]*group_num
    scaler = StandardScaler()
    for i in range(group_num):
        dfs[i] = df.iloc[int(i/group_num*row_num):int((i+1)/group_num*row_num), :]
        dfs[i] = dfs[i].sample(frac=1, axis=1)
        
        df_features_scaled_temp = pd.DataFrame(scaler.fit_transform(dfs[i]), columns = dfs[i].columns, index = dfs[i].index)
        #dfs_new[i] = df_features_scaled_temp
        dfs_new[i] = dfs[i]
        
        dfs_new[i]['group'] = i
        cols_num = len(dfs_new[i].columns)
        col_names = [j for j in range(cols_num)]
        dfs_new[i].columns = col_names
    df_final = pd.concat(dfs_new, axis=0)
    last_col_num = cols_num - 1
    df_new = df_final.rename(columns={last_col_num: 'group'})
    df_final_onehot = pd.concat([df_new.iloc[:,:-1], pd.get_dummies(df_new.group, prefix='group')], axis=1)
    df_final_onehot = df_final_onehot.sample(frac=1, random_state=random_seed)
    return df_final_onehot

In [63]:
transform_dataset(df)

,0,1,2,3,4,5,6,7,8,9,10,group_0,group_1
7,0.032237,0.085715,0.474579,0.904534,0.235702,-0.047598,1.732051,0.538816,1.290994,1.290994,0.538816,0,1
8,-0.048671,-1.902409,0.474579,0.904534,0.707107,-0.915557,-0.577350,-0.898027,-0.774597,-0.774597,0.538816,0,1
6,0.114708,2.033252,0.632456,0.295967,0.171499,0.632456,-1.154701,-0.408248,1.154701,0.632456,-0.450591,1,0
10,-0.473437,0.467293,-1.044074,-1.507557,-0.707107,-0.422780,-0.577350,0.538816,-0.774597,-0.774597,-0.898027,0,1
4,1.720618,0.275679,0.632456,2.008169,1.371989,0.632456,0.866025,-0.408248,1.154701,0.632456,1.509188,1,0
11,1.306533,0.805022,1.993232,0.904534,2.121320,0.333184,-0.577350,1.975658,-0.774597,1.290994,1.975658,0,1
5,-1.491202,-0.858134,-1.581139,-1.039552,-2.229482,-1.581139,0.866025,-0.408248,-1.876388,-1.581139,1.441140,1,0
9,-1.378592,-1.295989,-1.044074,0.904534,-0.707107,-0.697167,-0.577350,-0.898027,1.290994,-0.774597,-0.898027,0,1
13,1.832434,0.211664,0.474579,-0.301511,0.235702,2.119500,-0.577350,0.538816,-0.774597,1.290994,0.538816,0,1
1,-0.688247,0.655783,0.632456,-1.210772,0.171499,0.632456,-1.154701,2.449490,-0.866025,0.632456,-0.677730,1,0
14,-0.635252,0.336680,-0.284747,-0.301511,-0.707107,0.769964,1.732051,-0.898027,-0.774597,-0.774597,-0.898027,0,1
2,-0.688247,-0.455289,0.632456,0.056258,0.171499,0.632456,0.866025,-0.408248,0.144338,0.632456,0.096608,1,0
12,-0.635252,1.292024,-1.044074,-1.507557,-1.178511,-1.139546,-0.577350,-0.898027,1.290994,-0.774597,-0.898027,0,1
3,0.114708,-0.988083,-1.581139,0.347333,0.171499,0.632456,-1.154701,-0.408248,0.144338,-1.581139,-0.701195,1,0
0,0.917663,-0.663209,0.632456,-0.457403,0.171499,-1.581139,0.866025,-0.408248,0.144338,0.632456,-1.217420,1,0

In [56]:
df

,AboveMedianPrice,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea
0,1,8450,7,5,856,2,1,3,8,0,548
1,1,9600,6,8,1262,2,0,3,6,1,460
2,1,11250,7,5,920,2,1,3,6,1,608
3,0,9550,7,5,756,1,0,3,7,1,642
4,1,14260,8,5,1145,2,1,4,9,1,836
5,0,14115,5,5,796,1,1,1,5,0,480
6,1,10084,8,5,1686,2,0,3,7,1,636
7,1,10382,7,6,1107,2,1,3,7,2,484
8,0,6120,7,5,952,2,0,2,8,2,468
9,0,7420,5,6,991,1,0,2,5,2,205
10,0,11200,5,5,1040,1,0,3,5,0,384
11,1,11924,9,5,1175,3,0,4,11,2,736
12,0,12968,5,6,912,1,0,2,4,0,352
13,1,10652,7,5,1494,2,0,3,7,1,840
14,0,10920,6,5,1253,1,1,2,5,1,352

In [1]:
df

NameError: name 'df' is not defined