In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("energydata_use.csv")

In [6]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,18.2000,48.900000,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,18.2000,48.863333,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,18.2000,48.730000,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,18.1000,48.590000,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,18.1000,48.590000,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,24.7000,50.074000,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,24.7000,49.790000,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,24.7000,49.660000,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,24.6625,49.518750,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,24.7360,49.736000,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000

In [9]:
from sklearn.preprocessing import StandardScaler
features = ['sepal length', 'sepal width', 'petal length', 'petal width']
# Separating out the features
x = df.iloc[:,2:].values
# Separating out the target
y = df.iloc[:,1].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

In [11]:
x

array([[ 3.30126384, -1.11864475,  1.84382063, ...,  1.20769354,
         2.09159642,  0.3669753 ],
       [ 3.30126384, -1.11864475,  1.61680671, ...,  1.07170342,
         1.76658397,  0.34313479],
       [ 3.30126384, -1.11864475,  1.51795932, ...,  0.93571331,
         1.44157151,  0.31929428],
       ...,
       [ 0.78103476,  2.37445166,  1.59251371, ..., -0.15220764,
        -1.10200419,  2.26626907],
       [ 0.78103476,  2.37445166,  1.6913611 , ..., -0.08421258,
        -1.03134931,  2.25832223],
       [ 0.78103476,  2.37445166,  1.5933514 , ..., -0.01621752,
        -0.96069443,  2.2503754 ]])

In [16]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents)
principalDf

              0         1         2         3         4
0     -2.919677 -4.690671  1.445331  2.483342 -0.126254
1     -2.935507 -4.619097  1.377083  2.502208 -0.243767
2     -2.971388 -4.532836  1.315875  2.522068 -0.368434
3     -3.054577 -4.510041  1.299725  3.482814 -0.197767
4     -3.050227 -4.489144  1.214373  3.506917 -0.321991
...         ...       ...       ...       ...       ...
19730  8.005997 -2.570498  1.089279 -0.513251  0.344685
19731  7.933953 -2.551091  1.060869 -0.512336  0.335700
19732  7.825909 -2.713982  1.049125  0.425200  0.621296
19733  7.698792 -2.714300  0.980888  0.419893  0.597170
19734  7.591785 -2.670937  0.905521  0.437329  0.584111

[19735 rows x 5 columns]

In [15]:
principalDf = pd.DataFrame(data = x)
principalDf

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,3.301264,-1.118645,1.843821,-0.520411,1.073683,-1.235063,1.686130,-0.908217,1.506438,-1.314903,...,-1.957509,1.141572,-1.217324,0.958136,-0.152647,-2.976328,0.822080,1.207694,2.091596,0.366975
1,3.301264,-1.118645,1.616807,-0.520411,1.057097,-1.235063,1.704566,-0.908217,1.604528,-1.314903,...,-1.957509,1.134554,-1.200778,0.965363,-0.174588,-2.962813,0.822080,1.071703,1.766584,0.343135
2,3.301264,-1.118645,1.517959,-0.520411,1.033550,-1.235063,1.748608,-0.944115,1.580918,-1.314903,...,-1.957509,1.109032,-1.233869,0.950910,-0.196529,-2.949298,0.822080,0.935713,1.441572,0.319294
3,4.561378,-1.118645,1.459321,-0.520411,1.024540,-1.235063,1.769092,-0.962063,1.542526,-1.314903,...,-2.008631,1.082233,-1.233869,0.926821,-0.218470,-2.935783,0.822080,0.799723,1.116559,0.295454
4,4.561378,-1.118645,1.526336,-0.520411,1.009797,-1.235063,1.769092,-0.962063,1.497991,-1.296832,...,-2.008631,1.082233,-1.233869,0.926821,-0.240411,-2.922268,0.822080,0.663733,0.791547,0.271613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,-0.479080,2.415962,1.583299,2.530318,0.394449,2.458745,0.590209,1.882026,1.511812,1.955947,...,1.365409,1.366295,1.843571,1.261649,2.881489,-0.043599,-1.616282,-0.288198,-1.243314,2.282163
19731,-0.479080,2.374452,1.568221,2.468301,0.407788,2.425512,0.608646,1.882026,1.511812,1.972211,...,1.365409,1.311932,1.843571,1.261649,2.856414,-0.043599,-1.593912,-0.220203,-1.172659,2.274216
19732,0.781035,2.374452,1.592514,2.411103,0.576982,2.383971,0.752037,1.882026,1.544061,1.972211,...,1.365409,1.287048,1.843571,1.261649,2.831338,-0.043599,-1.571542,-0.152208,-1.102004,2.266269
19733,0.781035,2.374452,1.691361,2.313256,0.642694,2.304213,0.629130,1.882026,1.557883,1.955947,...,1.346238,1.260011,1.843571,1.268273,2.806263,-0.043599,-1.549171,-0.084213,-1.031349,2.258322
19734,0.781035,2.374452,1.593351,2.244984,0.626828,2.270980,0.588161,1.882026,1.597810,1.955947,...,1.383813,1.301596,1.843571,1.274897,2.781187,-0.043599,-1.526801,-0.016218,-0.960694,2.250375

In [17]:
a = [[1,2,3,4,5,6,7,8],[9,10,11,12,13,14,15,16]]
b = pd.DataFrame(a)
b

   0   1   2   3   4   5   6   7
0  1   2   3   4   5   6   7   8
1  9  10  11  12  13  14  15  16

In [19]:
numpy_array = np.array(a)
transpose = numpy_array.T
b = pd.DataFrame(transpose)
b

   0   1
0  1   9
1  2  10
2  3  11
3  4  12
4  5  13
5  6  14
6  7  15
7  8  16

In [21]:
import pandas as pd
import numpy as np
df2 = pd.DataFrame(np.random.randn(20, 6), columns=list('ABCDEF'))
df2

           A         B         C         D         E         F
0  -0.015034 -0.268863 -1.311402  0.106181 -0.796627 -0.681810
1  -0.631595 -0.782843  1.526906  1.457483  0.593522  2.013789
2   0.525878  0.817141  0.050269  0.189646  2.561827  0.811982
3  -0.449619 -0.053653 -2.491887  0.567419 -0.289079 -0.957545
4   0.138272  0.254825 -1.084203 -0.392579  1.426004 -0.058643
5   0.157254  0.664143 -1.525733 -0.983171 -1.325695 -0.669467
6   1.217672  0.370408 -1.473664  0.872194 -0.048407  0.292026
7   0.450994 -0.801822 -0.991213 -0.335763  0.093839  2.115740
8   0.024418 -0.200806  2.723486 -0.092771 -2.050351 -0.145270
9   1.411477  0.134762  0.512035 -0.184710 -1.703868 -1.003359
10 -0.109647  1.742202  1.132585 -0.853967  1.660658  0.755115
11  0.158736  2.086140 -0.560421  0.587472  0.787105 -0.603931
12 -0.661556 -1.088483 -0.154167 -1.160583 -0.106907 -0.892121
13 -0.178474 -0.704213 -0.601666  1.709626 -0.005435  1.510896
14  0.021910  1.614874  0.407268 -1.078296  0.910576  1.862111
15 -0.910015  0.366618  1.107132 -0.055344 -0.927823 -1.989985
16 -0.001388  0.906340 -0.195935 -1.270558 -2.457247 -0.003033
17 -0.728735 -0.492427 -0.352951  1.302930 -0.865751 -1.078096
18  1.342504 -1.480547  1.069334 -0.556431  0.324929 -0.097317
19  0.423344 -1.724280  0.375502 -0.508836 -0.732494 -0.481456

In [24]:
from sklearn.preprocessing import StandardScaler

x = df2.values

x = StandardScaler().fit_transform(x)
pd.DataFrame(x)

           0         1         2         3         4         5
0  -0.194095 -0.331518 -1.008323  0.162425 -0.524605 -0.641661
1  -1.156439 -0.837377  1.338551  1.728124  0.598977  1.771398
2   0.650174  0.737330  0.117583  0.259133  2.189851  0.695559
3  -0.872406 -0.119707 -1.984415  0.696843 -0.114381 -0.888494
4   0.045190  0.183897 -0.820462 -0.415467  1.271828 -0.083812
5   0.074817  0.586749 -1.185544 -1.099762 -0.952221 -0.630611
6   1.729944  0.297654 -1.142491  1.049974  0.080141  0.230102
7   0.533294 -0.856056 -0.743573 -0.349637  0.195111  1.862663
8  -0.132516 -0.264536  2.327950 -0.068092 -1.537922 -0.161358
9   2.032440  0.065731  0.499397 -0.174618 -1.257879 -0.929506
10 -0.341769  1.647776  1.012503 -0.950059  1.461486  0.644652
11  0.077130  1.986281 -0.387369  0.720078  0.755440 -0.571944
12 -1.203202 -1.138188 -0.051456 -1.305322  0.032859 -0.829928
13 -0.449196 -0.759989 -0.421474  2.020272  0.114873  1.321216
14 -0.136432  1.522460  0.412770 -1.209980  0.855235  1.635618
15 -1.591004  0.293925  0.991458 -0.024727 -0.630643 -1.812719
16 -0.172796  0.825120 -0.085992 -1.432746 -1.866794 -0.034029
17 -1.308057 -0.551550 -0.215822  1.549049 -0.580474 -0.996409
18  1.924785 -1.524059  0.960205 -0.605316  0.381889 -0.118432
19  0.490137 -1.763942  0.386504 -0.550169 -0.472770 -0.462306

In [50]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2, svd_solver="arpack", random_state=5)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents)
principalDf

           0         1
0  -0.835946  0.418126
1   1.427906  2.195575
2   2.274151 -0.376739
3  -0.615722  1.072787
4   0.825397 -0.345227
5  -1.039129 -1.082826
6   0.688570  0.117341
7   1.087255  0.188793
8  -1.311617 -0.134755
9  -1.242263 -1.100284
10  1.664203 -1.458409
11  0.867169 -0.469049
12 -1.190808 -0.027998
13  1.000487  2.254538
14  1.832513 -1.523081
15 -1.706937  0.197308
16 -1.329047 -1.423139
17 -1.071142  1.906300
18 -0.153845 -0.584116
19 -1.171192  0.174855