In [11]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras

In [12]:
dataset_dir = "./Datasets/houseprices_ready.csv"
df = pd.read_csv(dataset_dir, index_col=0)
df = df.fillna(df.mean())
df = df.sample(frac=1)
df_features = df.iloc[:,1:]
df_features

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea
1307,8072,5,5,990,1,0,3,5,0,480
51,6240,6,6,816,1,0,3,6,1,528
1075,13125,7,6,800,1,1,3,6,2,240
725,6960,4,6,864,1,0,3,5,0,660
466,10628,7,5,1277,1,0,2,5,1,526
...,...,...,...,...,...,...,...,...,...,...
620,8248,3,3,864,1,0,2,5,0,0
1374,10625,7,5,1026,2,1,3,9,1,936
717,10000,5,6,1176,1,1,3,5,1,439
1330,10000,8,5,1588,2,0,3,7,1,825
1052,9500,6,6,816,1,1,4,9,1,540

In [10]:
df_features.iloc[[2,3],:5]

      LotArea  OverallQual  OverallCond  TotalBsmtSF  FullBath
1066     7837            6            7          799         2
118     12376            7            5         1673         3